@charset "utf-8";
$win-width:480px;
$win-height:320px;
$bar-height:48px;
$body-height:$win-height - $bar-height;
$corner-size:125px;
$btn-size:64px;

.nyx-login-bg{
    background-color: $blue;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.nyx-login-bg:before{
    position: fixed;
    top:0;
    left:0;
    height: $corner-size;
    width: $corner-size;
    border-left:$corner-size $blue900 solid;
    border-bottom:$corner-size transparent solid;
    content:" ";
}
.nyx-login-bg:after{
    position: fixed;
    bottom: 0;
    right: 0;
    height: $corner-size;
    width: $corner-size;
    border-right:$corner-size $blue900 solid;
    border-top:$corner-size transparent solid;
    content:" ";
}
.nyx-login{
    background-color:$blue900;
    display: flex;
    justify-content: center;
    width: 100%;
    @extend .nyx-z2;
}
.nyx-findpassword,.nyx-send-checkcode{
    font-size: 12px;
    position: absolute;
    right: 2rem;
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
}

.nyx-login-window{
    margin: 4rem;
    height:$win-height;
    width: $win-width;
    background-color: #fff;
    @extend .nyx-z12;
    &:hover{
        @extend .nyx-z24;
    }
    header{
        @extend .nyx-z4;
        height: $bar-height;
    }
}
.nyx-login-window-acctention{
    color: $white;
    margin-top: 1rem;
}
.nyx-login-window:before {
    position: absolute;
    font-size: 2.5rem;
    margin-top: -2.5em;
    margin-left: -6em;
    color: #fff;
    content: "信息系统集成及服务项目管理人员";
    text-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

.nyx-login-window:after {
    position: absolute;
    font-size: 3rem;
    margin-bottom: 4rem;
    margin-left: 8em;
    bottom: 0;
    color: #fff;
    content: "培训报名入口";
    text-shadow: 2px 2px 2px rgba(0,0,0,.3);
}
.nyx-login-body{
    height: $body-height;
    padding: 2rem;
    position: relative;
    
    .nyx-btn-circle{
        border-radius: 50%;
        height: $btn-size;
        width: $btn-size;
        position: absolute;
        right:0;
        bottom:0;
        margin-bottom: $btn-size/2;
        margin-right: $btn-size/2;
        padding: 0;
        min-width: initial;
    }
}
.nyx-login-body>div>div{
    margin-bottom: 1rem;
}
.nyx-clazz-card{
    margin:0.5rem 1rem;
    padding:0.5rem 1rem;
    border-bottom:1px $grey50 solid;
}
.nyx-sidebar a.nyx-button-active{
    background: $blue900;
    color:#ffffff;
}
.nyx-instructions{
    color: #ffffff;
    position: relative;
    top: 20px;
    cursor: pointer;
    font-size: 16px;
    border: solid 1px;
    padding: 0.5rem;
    margin-right: 1rem;
}
.nyx-instructions-glyphicon{
    top: 0.15rem;
    margin-left: 0.3rem;
}
.nyx-login-style{
    width: 100%;
    background-color:#0d47a1;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    }
.nyx-login-select{
    width: 960px;
    margin: auto;
    height: 200px;
}

.nyx-login-select-title{
    font-size: 36px;
    color: #fff;
    padding-left: 200px;
    line-height: 200px;
  }
.nyx-login-select_list{
    list-style: none;
    padding-left: 270px;
    li{
        color: #fff;
        line-height: 1.5
    }
    span{
        color: #4aa8ae;
        font-size: 18px;
        margin-right: 10px;
        line-height: 1.5
    }
   }
   .nyx-login-select_list_Dialog{
    list-style: none;
    padding-left: 0px;
    li{
        color:rgba(0, 0, 0, 0.54);
        line-height: 1.5
    }
    span{
        color: #4aa8ae;
        font-size: 16px;
        margin-right: 10px;
        line-height: 1.5
    }
   }
   .nyx-login-select_v{
    color: #4aa8ae;
    font-size: 14px;
    line-height: 1.5;
    float: right;   
    width: 240px;
    padding-top: 80px;
  }
  .nyx-login-select-button{
  float: right;
  margin-top: 10px;
    width: 300px;
    height: 150px;
    font-size: 30px;
    color: #fff;
    border-left: 7px solid #fff;
    padding-left: 30px;
    padding-top: 10px;
    line-height: 1.5;
    cursor: pointer;
    margin-right: 45px;
  }
  .nyx-login-select-button span{
    display: block;
  }
  .nyx-login-select-img{
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 5px;
    background-image: url("../images/1-04.png")
  }
  .nyx-login-select-button:hover{
    background-color: #4aa8ae;
  }
  .nyx-login-select-button:hover .nyx-login-select-img{
   background-image: url("../images/1-03.png")
   
   
 }
@media only screen and (max-width:960px ){
    .nyx-login-style{
        width: 100%;
        background-color:#0d47a1;
        height: 140%;
        top: 0;
        bottom: 0;
        position: absolute;
        }
      .nyx-login-select{
        width: 100%;
        margin: auto;
        height: 300px;
      }
      .nyx-login-select-log{
        float: left;
        padding-top: 37px;
        margin-left: 30px;
        width: 75px;
        height:100px;
      }
      .nyx-login-select-title{
        font-size: 30px;
        color: #fff;
        padding-left: 120px;
        line-height: 1.5;
        padding-top: 20px;
      }
      .nyx-login-select_list{
        list-style: none;
        padding-top: 50px;
        padding-left: 120px;
       }
       .nyx-login-select_v{
        color: #4aa8ae;
        font-size: 14px;
        line-height: 1.5;
        float: right; 
        padding-left:50px;   
        width: 240px;
        padding-top: 40px;
      }
      .nyx-training_title {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    .nyx-training_title{
        font-size: 14px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .nyx-login-window:before {
        position: absolute;
        font-size: 2.5rem;
        margin-top: -2.5em;
        margin-left: -6em;
        color: #fff;
        content: " ";
        text-shadow: 2px 2px 2px rgba(0,0,0,.3);
    }
    
    .nyx-login-window:after {
        position: absolute;
        font-size: 3rem;
        margin-bottom: 4rem;
        margin-left: 8em;
        bottom: 0;
        color: #fff;
        content: " ";
        text-shadow: 2px 2px 2px rgba(0,0,0,.3);
    }
    .nyx-display-none{
        display: none;
    }
    .nyx-login-body{
        height: $body-height;
        padding: 2rem;
        position: relative;
        
        .nyx-btn-circle{
        border-radius:0; 
        height: 24px;
        width: 64px;
        position: inherit;
        /* position: absolute; */
        right: 0;
        bottom: 0;
        margin-bottom: 32px;
        margin-right: 32px;
        padding: 0;
        min-width: initial;
}
}
}